*.iml
*.ipr
*.iws
.idea/
.classpath
.project
bin/
gen/
out/
target/
local.properties
drishti-app/tmp/
classes/
tmp/
project.properties
.DS_Store
.settings
build/
.gradle
!opensrp-app/assets/web/build/
!opensrp-app/assets/web/lib/enketo-core/build/
opensrp-path/fabric.properties
opensrp-path/reports/
