<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister"
    android:installLocation="auto"
    android:versionCode="32"
    android:versionName="3.0.1">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!--<uses-sdk-->
        <!--android:minSdkVersion="16"-->
        <!--android:targetSdkVersion="16" />-->

    <application
        android:clearTaskOnLaunch="true"
        android:label="@string/app_name"
        android:largeHeap="true">
        <service
            android:name=".service.ImageUploadSyncService"
            android:enabled="true" />

        <activity
            android:name=".view.activity.ReportsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".view.activity.VideosActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".view.activity.ReportIndicatorListViewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".view.activity.ReportIndicatorDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".view.activity.ReportIndicatorCaseListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".view.activity.EligibleCoupleDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".view.activity.CameraLaunchActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".view.activity.FormActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".view.activity.MicroFormActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar" />
        <activity
            android:name=".view.activity.NativeECSmartRegisterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />


        <activity
            android:name=".view.activity.NativeHomeActivity"
            android:screenOrientation="landscape" />

        <receiver android:name=".view.receiver.SyncBroadcastReceiver" />
        <receiver android:name=".view.receiver.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".view.receiver.TimeChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service android:name=".service.intentservices.ReplicationIntentService" />
    </application>
</manifest>
