<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.smartregister"
    android:versionCode="32"
    android:versionName="3.0.1"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:label="@string/app_name"
        android:clearTaskOnLaunch="true"
        android:largeHeap="true">
        <service
            android:enabled="true"
            android:name=".service.ImageUploadSyncService" />

        <activity
            android:name=".view.activity.ReportsActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.VideosActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.ReportIndicatorListViewActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.ReportIndicatorDetailActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.ReportIndicatorCaseListActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.EligibleCoupleDetailActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.CameraLaunchActivity"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.FormActivity"
            android:theme="@style/AppThemeNoTitle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MicroFormActivity"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.NativeECSmartRegisterActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppThemeNoTitle" />
        <activity
            android:name=".view.activity.BarcodeScanActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.NativeHomeActivity"
            android:screenOrientation="landscape" />

        <activity
            android:name=".view.activity.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <receiver android:name=".view.receiver.SyncBroadcastReceiver" />
        <receiver android:name=".view.receiver.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".view.receiver.TimeChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>

        <service android:name=".service.intentservices.ReplicationIntentService" />

        <service android:name=".sync.intent.P2pProcessRecordsService"/>

        <meta-data
            android:name="com.google.android.gms.vision.Dependencies"
            android:value="barcode" />

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />


    </application>
</manifest>
