.timeline {
    padding-left: 8px;
    padding-right: 8px;
    background-image: url('../img/spine.png');
    background-repeat: repeat-y;
    background-position: 25px 55px;
}

.timeline .timeline-component {
    margin-top: 15px;
}

.timeline .type {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    vertical-align: auto;
}

.timeline .type.PREGNANCY {
    content: url(../img/icons/icon-event-anc.png);
}

.timeline .type.FPCHANGE {
    content: url(../img/icons/icon-event-fp.png);
}

.timeline .type.FPRENEW {
    content: url(../img/icons/icon-event-fp.png);
}

.timeline .type.ANCVISIT {
    content: url(../img/icons/icon-event-anc.png);
}

.timeline .type.IFAPROVIDED {
    content: url(../img/icons/icon-event-ifa.png);
}

.timeline .type.TTSHOTPROVIDED {
    content: url(../img/icons/icon-event-inject.png);
}

.timeline .type.IMMUNIZATIONSGIVEN {
    content: url(../img/icons/icon-event-inject.png);
}

.timeline .type.CHILD-BIRTH {
    content: url(../img/icons/icon-event-birth.png);
}

.timeline .CHILD-BIRTH-detail {
    color: #58A356;
}

.timeline .type.ECREGISTERED {
    content: url(../img/icons/icon-event-ecregistered.png);
}

.timeline .type.PNCVISIT {
    content: url(../img/icons/icon-event-pnc.png);
}

.show-more-button {
    display: none;
}
