<ul id="navigation">
    <li class="left">
        <button class="btn btn-primary btn-large normal full-height" ng-if="currentPage > 0"
                ng-click="showPreviousPage()">
            << Previous
        </button>
    </li>
    <li class="center pages">
        Page {{currentPage+1}} of {{numberOfPages}}
    </li>
    <li class="right">
        <button class="btn btn-primary btn-large normal full-height" ng-if="currentPage < numberOfPages-1"
                ng-click="showNextPage()">Next >>
        </button>
    </li>
</ul>
