<div class="row-fluid with-margin with-padding" id="logo-and-buttons">
    <div class="span10">
        <div class="row-fluid with-margin" id="drishti-logo">
            <div class="span10">
                <center><img src="../img/smart_registry/logo.png"></center>
            </div>
        </div>
        <div class="row-fluid with-margin">
            {{> anm_navigation}}
        </div>
    </div>
</div>
<div class="row-fluid with-margin with-padding" id="reports-videos-buttons">
    <div class="span5">
        <a class="btn btn-block btn-inverse btn-home" id="reportsButton"><i class="icon-reporting"></i> {{internationalize "home_report_label"}}</a>
    </div>
    <div class="span5">
        <a class="btn btn-block btn-inverse btn-home" id="videosButton"><i class="icon-tv"></i> {{internationalize "home_videos_label"}}</a>
    </div>
</div>
